<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
  <div class="navbar">
    <ul>
      <li>
        <a href="/">Manuel</a>
      </li>
      <li>
        <a href="/">Niñez</a>
      </li>
      <li>
        <a href="/">Adolescencia</a>
      </li>
      <li>
        <a href="/">Vida Universitaria</a>
      </li>
      <li>
        <a href="/">Pasatiempos</a>
      </li>
      <li>
        <a href="/">Metas</a>
      </li>
    </ul>
  </div>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>